<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body data-ng-app="pokemonApp">
  <main data-ng-controller="pokemonController" ng-init="getAllPokemon()">
    <h1>Pokemon:</h1>
    <form>
      <label for="newPokemonName">New Pokemon</label>
      <input type="text" id="newPokemonName" placeholder="Pokemon Name" data-ng-model="newPokemon.pokemonName">
      <input placeholder="Pokemon Type" type="text" data-ng-model="newPokemon.pokemonType">
      <button type="submit" data-ng-click="addPokemon(newPokemon)">Submit</button>
    </form>
    <ul data-ng-repeat="pokemon in pokemons">
      <li>{{pokemon.pokemonName}} the {{pokemon.pokemonType}} pokemon!
        <form data-ng-if="pokemon.editing">
          <input type="text" data-ng-model="pokemon.pokemonNameTemp">
          <input type="text" data-ng-model="pokemon.pokemonTypeTemp">
          <button type="submit" data-ng-click="editPokemon(pokemon)">Save Changes</button>
          <button data-ng-click="editToggle(pokemon)">Cancel</button>
        </form>
        <button data-ng-click="editToggle(pokemon)" data-ng-if="!pokemon.editing">Edit</button>

        <button data-ng-click="deletePokemon(pokemon)">Delete</button>
      </li>
    </ul>
  </main>

  <script src="bundle.js"></script>

</body>
</html>
